<H3>Data Science Tools and Ecosystem</H3>

In this notebook, Data Science Tools and Ecosystem are summarized

<b>Objectives:</b>
<ul>
    <li> popular languages that Data Scientist </li>
    <li> commonly used libraries used by Data Scientists </li>
    <li> Data Science Tools</li>
    <li> Examples</li>
</ul>

Some of the popular languages that Data Scientists use are:
<ol>
    <li>JAVA</li>
    <li>PYTHON</li>
    <li>SQL</li>
    <li>R</li>
    <li>JAVASCRIPT</li>
    <li>C++</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>SCIKIT LEARN</li>
    <li>SEABORN</li>
    <li>NUMPY</li>
    <li>PANDAS</li>
    <li>KERAS</li>
    <li>TENSORFLOW</li>
</ol>

<TABLE>
    <TR>
        <TD><H3>Data Science Tools</H3></TD>
    </TR>
    <TR>
        <TD>WEKA TOOL</TD>
    </TR>
    <TR>
        <TD>JUPITER NOTEBOOKS</TD>
    </TR>
    <TR>
        <TD>RAPID MINER</TD>
    </TR>
    <TR>
        <TD>APACHE HADOOP</TD>
    </TR>
    <TR>
        <TD>MONGO DB</TD>
    </TR>
</TABLE>

<H3>Below are a few examples of evaluating arithmetic expressions in Python</H3>

In [6]:
# This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
print(200/60, "hours")

3.3333333333333335 hours

<H2>Author</H2>
Sudhakaran S